.modal-content{
    background-color: transparent;
    border-color: transparent;
    align-items: center;
}
.modal-body {
    min-width: 100vw;
    min-height: 83vh;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: black;
}
.btn-close{
    filter: invert(1) drop-shadow(0px 0px 5px rgb(255, 255, 255));
}
.player{
    iframe{
        min-height: 83vh;
    }
}

//! MOBILE
@media (max-width: 576px) {
    .modal-body {
        min-height: 78vh;
    }
    .player{
        iframe{
            min-height: 78vh;
        }
    }
}